/* BASE */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* VISUALLY HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

/* HEADER */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 0;
  height: 4px;

  background-color: #404bbf;
  border-radius: 2px;

  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  width: 100%;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-size: 12px;
  line-height: 1.17;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* LOGO */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

/* HERO */

.hero {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  text-align: center;
  padding: 72px 0;

  background-image:
    linear-gradient(rgba(46, 46, 66, 0.7), rgba(46, 46, 66, 0.7)),
    url('../images/hero-mobile.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  max-width: 216px;
  margin: 0 auto 72px;

  color: #ffffff;
}

.hero-button {
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* FEATURES */

.features-title {
  margin-bottom: 72px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.features-icon {
  display: none;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.features-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* TEAM */

.team {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  width: 264px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}

.team-item-title {
  margin-bottom: 8px;
}

.team-text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* PORTFOLIO */

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  width: 100%;
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-title {
  margin-bottom: 8px;
}

.overlay-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}

/* FOOTER */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-info {
  width: 264px;
}

.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer-text {
  text-align: left;
  max-width: 264px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* socials */

.footer-socials-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-left: 0;
}

.socials-text {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.link-socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms;
}

.link-socials-footer:hover,
.link-socials-footer:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 288px;
}
.footer-form label {
  width: 100%;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-subscribe-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-input {
  width: 100%;
  max-width: 288px;

  height: 40px;
  letter-spacing: 0.04em;
  padding-left: 16px;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;

  color: #ffffff;
  font-size: 12px;
  line-height: 2;

  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: #31d0aa;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: #4d5ae5;
  color: #ffffff;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}

.footer-btn-icon {
  fill: #ffffff;
}

/* MODALKA */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;

  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;

  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-black {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
}

.modal-close:hover .icon-close-black,
.modal-close:focus .icon-close-black {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.form-field {
  margin-bottom: 8px;
}

.form-field.textarea {
  margin-bottom: 16px;
}

.form-label {
  font-size: 12px;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  outline: none;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-checkbox {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  color: #8e8f99;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;

  line-height: 1.17;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-button {
  display: block;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;

  background-color: #4d5ae5;
  color: #ffffff;

  border: none;
  border-radius: 4px;

  font-weight: 500;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.checkbox-input:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.checkbox-custom svg {
  opacity: 0;
  fill: #f4f4fd;
}

.checkbox-input:checked + .checkbox-label .checkbox-custom svg {
  opacity: 1;
}

.checkbox-link {
  display: block;
  margin-left: 24px;

  color: #4d5ae5;
  text-decoration: underline;
}

.form-input,
.form-textarea {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== MOBILE HEADER ===== */

.burger-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-list,
.contacts {
  display: none;
}

/* ===== MOBILE MENU ===== */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms,
    visibility 250ms;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  height: 100%;
  padding: 72px 16px 40px;

  display: flex;
  flex-direction: column;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
}

.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-bottom {
  margin-top: auto;
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contacts-link {
  font-size: 20px;
  font-weight: 500;
  color: #4d5ae5;
}

.mobile-contacts-link.email {
  color: #434455;
}

.mobile-socials {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.mobile-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-social-icon {
  fill: #f4f4fd;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 250ms;
}

.close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
}

.mobile-menu-close:hover .close-icon,
.mobile-menu-close:focus .close-icon {
  fill: #ffffff;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }

  .team .container {
    max-width: 584px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .hero {
    width: 100%;
    margin: 0 auto;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-tablet.jpg');
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-item-title {
    text-align: left;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 64px 24px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .footer-container {
    padding-left: 108px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 72px 24px;
  }

  .footer-subscribe {
    align-items: flex-start;
  }
  .footer-subscribe-title {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: auto;
    max-width: none;
  }
  .footer-form label {
    width: auto;
  }

  .footer-input {
    width: 264px;
  }

  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .contacts {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding: 120px 0;
  }
  .header-logo {
    margin-right: 76px;
  }
  .hero-title {
    margin: 0 auto 48px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
  }

  .features-list {
    flex-wrap: nowrap;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon {
    display: flex;
  }

  .features-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0;
    text-align: left;
  }

  .portfolio-item:hover {
    box-shadow:
      0 1px 6px rgba(46, 47, 66, 0.08),
      0 1px 1px rgba(46, 47, 66, 0.16),
      0 2px 1px rgba(46, 47, 66, 0.08);
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-socials-box {
    align-items: flex-start;
  }

  .footer-subscribe {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: auto;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    width: auto;
    max-width: none;
  }

  .footer-form label {
    width: auto;
  }

  .footer-input {
    width: 264px;
    max-width: 264px;
  }
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 46, 66, 0.7), rgba(46, 46, 66, 0.7)),
      url('../images/hero-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    max-width: 768px;
    margin: 0 auto;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 46, 66, 0.7)),
      url('../images/hero-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-desktop.jpg');
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-desktop@2x.jpg');
  }
}
